/*!
Colors for files here! 
*/

/*!  characters: 'abcdefhijklmnopqrstuvwzyz' */
.a {color: #de2a13;}
.b {color: #f75c20;}
.c {color: #eeb10e;}
.d {color: #0ea540;}
.e {color: #a2d3d4;}
.f {color: #421698;}
.g {color: #982527;}
.h {color: #ff8601;}
.i {color: #ffff00;}
.j {color: #37d64c;}
.k {color: #2d1780;}
.l {color: #976cff;}
.m {color: #151f9f;}
.n {color: #da2f26;}
.o {color: #e7dc24;}
.p {color: #219d3b;}
.q {color: #1d2792;}
.r {color: #271552;}
.s {color: #ca2210;}
.t {color: #df7b33;}
.u {color: #99cc00;}
.v {color: #187125;}
.w {color: #2766fc;}
.x {color: #391059;}
.y {color: #bb6c40;}
.z {color: #dbb039;}

/*! characters: 0123456789 */

.a {color: #FFFF88;}
.0 {color: #FFFF88;}
.1 {color: #FFFF88;}
.2 {color: #FFFF88;}
.3 {color: #FFFF88;}
.4 {color: #FFFF88;}
.5 {color: #FFFF88;}
.6 {color: #FFFF88;}
.7 {color: #FFFF88;}
.8 {color: #FFFF88;}
.9 {color: #FFFF88;}

/*! characters: '0123456789' */

